@model Apple.Models.ViewModels.ProductViewModels

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["Filter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]">
                    Product Name
                </a>
            </th>
            <th>
                Description
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParam"]">
                    Product Price
                </a>
            </th>
            <th>
                Category Name
            </th>
            <th>
                Image URL
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.ProductPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.Category.CategoryName)</td>
                <td>
                            @if (!string.IsNullOrEmpty(item.ImageURL))
                            {
                                <img src="@item.ImageURL" alt="Product Image" style="max-width: 200px; max-height: 200px;" />
                            }
                            else
                            {
                                <p>No image</p>
                            }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
